@import "../variables.scss";

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 380px;
    background-color: $primary-color;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        color: $on-primary;
    }

    &__icon {
        font-size: 40px;
        color: $on-primary; // Cor principal do tema
        margin-bottom: 15px;
    }

    &__text {
        font-size: 16px;
        color: $on-primary;
        line-height: 1.5;
    }
}