@import './variables';

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

// .section {
    //     padding: 60px 20px;
    //     background-color: $secondary-color;
    //     text-align: center;

    //     h2 {
    //         color: $primary-color;
    //         font-size: 2rem;
    //     }

    //     p {
    //         color: #333;
    //     }
    // }

    // #home {
    //     background-color: #f9f9f9;
    // }

    // #sobre {
    //     background-color: #f2f2f2;
    // }

    // #servicos {
    //     background-color: #e6e6e6;
    // }